
@await Component.InvokeAsync("EventListVC")


<h3 class="mt-5">Credentials</h3>
<div><span class="fw-bold">1)Admin</span>- AdminArea/AdminHome/Index</div>
<p><span class="fw-bolder">Admin Credentials</span>- Email- <strong>percyakr11gmail.com</strong> & Password- <strong>4321</strong></p>

<div><span class="fw-bold">2)CompanyAdmin</span>- CompanyAdminArea/CompnayAdminHome/Index</div>
<p><span class="fw-bolder">CompanyAdmin Credentials</span>- Email- <strong>john@hotmail.com</strong> & Password- <strong>1234</strong></p>

<div><span class="fw-bold">3)Member</span>- MemberArea/MemberHome/Index</div>
<p>
    <span class="fw-bolder">Member Credentials</span>- You can also Register(ManageMember/Register) and waiting for CompanyAdmin Approval. Otherwise use this credentials <br />
    Email- <strong>matt@gmail.com</strong> & Password- <strong>1234</strong></p>